body {
    table {
        thead {
            background: #1560bd;
            color: white;
        }

        td, th{
            padding: 10px;
        }

        .book_image {
            width: 88px;
            height: 120px;
        }

        .publication_date {
            width: 132px;
        }
    }

    .btn-primary {
        background: #1560bd !important;
    }
}
