body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    table {
        text-align: left;
        border-collapse: collapse;

        thead {
            background: #1560bd;
            color: white;
        }

        td, th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        input[type="text"], textarea {
            width: 400px;
        }

        select {
            width: 50px;
        }
    }

    .search {
        border-radius: 4px;
        padding: 6px 8px;
    }

    .button {
        background: #1560bd;
        color: white;
        padding: 8px 16px;
        text-decoration: none;
        cursor: pointer;
        border: none;
        border-radius: 4px;
        width: auto
    }

    .operation {
        display: flex;

        div {
            padding: 0 4px;
        }
    }
}
